.call-to-action {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid gray;
	padding-bottom: 100px;
}

.content-wrapper-noscroll {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
   /* top: 87%;*/
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}