<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>metabup</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>

<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="./index.html">meta<img width ="5%" src="img/logo200.png"/>Bup</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="./gallery.html" class="pure-menu-link">Gallery</a></li>
                <li class="pure-menu-item"><a href="./install.html" class="pure-menu-link">Install</a></li>
                <li class="pure-menu-item"><a href="./experiment.html" class="pure-menu-link">Experiment</a></li>
                <li class="pure-menu-item"><a href="./about.html" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>
    
<div class="content">
	<p>&nbsp;</p>
	<div style="min-height: 800px;">
		<div class="call-to-action"><h1>What can I do with metaBup?</h1></div>
		<p>With <i>metaBup</i>, you can build Domain-Specific Languages from just drawn representations of their aimed syntax.</p>
		
		<div class="call-to-action"><h1>What do I need?</h1></div>
		<p>Note down:
			<ul>
			<li><a href="https://eclipse.org/mars/">Eclipse Mars.1</a>.
			<li>A drawing tool (<a href="https://www.yworks.com/products/yed">yED</a> is strongly recommended).
			<li>And you need <a href="./install.html">metaBup</a> too.
			</ul>
		</p>
		
		<div class="call-to-action"><h1>Can I see an example?</h1></div>
		<p>Sure. We have a (growing) set of example DSLs available as metaBup projects. See them at the <a href="./gallery.html">gallery</a> section.</p>
    </div>

    <div class="footer l-box is-center">
        <a color="white" href="http://www.miso.es/" target="_blank">MISO Group</a>. Universidad Aut&oacute;noma de Madrid. <script>document.write(new Date().getFullYear())</script>.
    </div>

</div>






</body>
</html>
