<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>metabup</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>


<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="./index.html">meta<img width ="5%" src="img/logo200.png"/>Bup</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="./gallery.html" class="pure-menu-link">Gallery</a></li>
                <li class="pure-menu-item"><a href="./install.html" class="pure-menu-link">Install</a></li>
                <li class="pure-menu-item"><a href="./experiment.html" class="pure-menu-link">Experiment</a></li>
                <li class="pure-menu-item"><a href="./about.html" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
    <p>&nbsp;</p>
	   <h2 align="center">metaBup validation</h2></p>
	   &nbsp;
	   <div style="min-height: 800px;">
    	metaBup has been validated with real users in a research experiment. 11 users participated. This section contains the following: formulation of the expected DSL requirements, instructions of the experiment, and questionnaires. Questionnaire 1 was answered by all the participants, in order to convey their opinions on the first version of the generated modelling tool. Questionnaire 2 was only answered by those participants that opted for generating a second version of the modelling tool. Mandatory questions are marked with an asterisk. 	

        <h3 align="left">DSL requirements</h3>
        <p><em>We want to model domestic networks in which a Service Provider (ISP) provides Internet access to its clients by means of local networks. Each client hosts a domestic net, connected to a unique local network via a modem. Each client can also have a router (which can be enabled for WiFi connections) with a number of ports to which different devices can be connected. The router has access to Internet through the modem.</em></p>

        <p><em>Devices are connected to the net in a different way, depending on whether they are wireless or not. Printers, desktop computers, servers and fixed phones are connected through the router. They need to be plugged to one of the router ports, but the fixed phone which is directly connected to the router. On the other hand, wireles devices (laptops, Smart TVs and smartphones) can only access Internet through a WiFi network, which will be the one connected to the router directly.</em></p>

        <h3 align="left">Instructions</h3>
        <p><em>You can provide as many drawings as you deem necessary, each one illustrating domain examples according to your own criterion. They do not mandatorily have to be complete examples, but they can focus on specific aspects of the problem domain. For instance, you can make a diagram with just some local networks connected to Internet, another with the configuration of a WiFi network, etc.</em></p>

        <p><em>The drawings do not need to include unnecessary elements for the aspect you want to model, while you should make as many drawings as necessary to illustrate all aspects of the domain. Each element in the palette should be used at least once in some drawing.</em></p>

        <p><em>When making the drawings, please remind that the following properties are meaningful. (i) If you want to establish several kinds of connections between two objects, you should use different line styles. (ii) The relative position of objects is meaningful. This means that drawings can make use of containment, adjacency and overlapping of objects. (iii) You can add information to objects by attaching them labels with the following format: &#8826 field-name &#8827 = &#8826 field-value &#8827.</em></p>

        <table>
            <tr valign="top">
                <th>

                <h3 align="left">Questionnaire 1</h3>
                <img src="img/experiment/q1_1.png"/><br/>
                <img src="img/experiment/q1_2.png"/>

                </th>
                <th>
                
                <h3 align="left">Questionnaire 2</h3>
                <img src="img/experiment/q2.png"/>

                </th>
            </tr>
        </table> 

        <h3 align="left">Exercises</h3>
        <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-9hbo">Participant</th>
    <th class="tg-9hbo">Fragments</th>
    <th class="tg-9hbo">Time (m)</th>
    <th class="tg-9hbo">Total objects</th>
    <th class="tg-9hbo">Total references</th>
    <th class="tg-9hbo">Total spatial relationships</th>
    <th class="tg-9hbo">Distinct objects / fragment</th>
    <th class="tg-9hbo">ME fragment edit time (s)</th>
    <th class="tg-9hbo">Used spatial relationships</th>
    <th class="tg-9hbo">Used connector styling</th>
    <th class="tg-9hbo">Used labels</th>
    <th class="tg-9hbo">Used connectors</th>
    <th class="tg-9hbo">Demanded 2nd interaction</th>
    <th class="tg-9hbo">Fragments</th>
    <th class="tg-9hbo">Editor</th>
  </tr>
  <tr>
    <td class="tg-yw4l">aips</td>
    <td class="tg-lqy6">1</td>
    <td class="tg-lqy6">20</td>
    <td class="tg-lqy6">14,00</td>
    <td class="tg-lqy6">10,00</td>
    <td class="tg-lqy6">12,00</td>
    <td class="tg-lqy6">13,00</td>
    <td class="tg-lqy6">19</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmTFo5ckRraVpWT0U">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmMGo0NGtnQlFzOGM">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">fj</td>
    <td class="tg-lqy6">1</td>
    <td class="tg-lqy6">60</td>
    <td class="tg-lqy6">18,00</td>
    <td class="tg-lqy6">17,00</td>
    <td class="tg-lqy6">0,00</td>
    <td class="tg-lqy6">13,00</td>
    <td class="tg-lqy6">27</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmZW45UnJNLXZXS2s">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmQnc5WVRsT2dqbFU">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">plr</td>
    <td class="tg-lqy6">1</td>
    <td class="tg-lqy6">40</td>
    <td class="tg-lqy6">16,00</td>
    <td class="tg-lqy6">8,00</td>
    <td class="tg-lqy6">13,00</td>
    <td class="tg-lqy6">13,00</td>
    <td class="tg-lqy6">44<br></td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmZkpWNG1VY0tJZGs">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmSnhoOWdia1NyaVk">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">pga</td>
    <td class="tg-lqy6">2</td>
    <td class="tg-lqy6">30</td>
    <td class="tg-lqy6">19,00</td>
    <td class="tg-lqy6">22,00</td>
    <td class="tg-lqy6">0,00</td>
    <td class="tg-lqy6">8,50</td>
    <td class="tg-lqy6">49</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmdTl6akhlN0E4c2M">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmWWhDbDJqaWpua3c">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">psjg</td>
    <td class="tg-lqy6">2</td>
    <td class="tg-lqy6">60</td>
    <td class="tg-lqy6">28,00</td>
    <td class="tg-lqy6">2,00</td>
    <td class="tg-lqy6">0,00</td>
    <td class="tg-lqy6">11,50</td>
    <td class="tg-lqy6">12</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmXzdVN0R0MWlOdkE">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmVl9xZl9ab21kWjA">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">sps</td>
    <td class="tg-lqy6">2</td>
    <td class="tg-lqy6">30</td>
    <td class="tg-lqy6">45,00</td>
    <td class="tg-lqy6">43,00</td>
    <td class="tg-lqy6">0,00</td>
    <td class="tg-lqy6">7,50</td>
    <td class="tg-lqy6">70</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmWGhnV0Zla21PazQ">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmVVgyaEs0a2Nxbk0">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">vpl</td>
    <td class="tg-lqy6">2</td>
    <td class="tg-lqy6">30</td>
    <td class="tg-lqy6">19,00</td>
    <td class="tg-lqy6">14,00</td>
    <td class="tg-lqy6">11,00</td>
    <td class="tg-lqy6">7,50</td>
    <td class="tg-lqy6">78</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmRnRCTE5JZnJkcjQ">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmNmpVYzFuVTg5d2c">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">dvm</td>
    <td class="tg-lqy6">3</td>
    <td class="tg-lqy6">37</td>
    <td class="tg-lqy6">22,00</td>
    <td class="tg-lqy6">18,00</td>
    <td class="tg-lqy6">2,00</td>
    <td class="tg-lqy6">5,67</td>
    <td class="tg-lqy6">66</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmQXNfM2wxSHRhV0k">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmYTZXT0pUaFNva3c">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">jsc</td>
    <td class="tg-lqy6">3</td>
    <td class="tg-lqy6">120</td>
    <td class="tg-lqy6">25,00</td>
    <td class="tg-lqy6">14,00</td>
    <td class="tg-lqy6">11,00</td>
    <td class="tg-lqy6">6,67</td>
    <td class="tg-lqy6">128</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmQWZ3dnRwMEdqTnM">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmdUVoLXhQLVBGWDQ">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">ams</td>
    <td class="tg-lqy6">4</td>
    <td class="tg-lqy6">40</td>
    <td class="tg-lqy6">39,00</td>
    <td class="tg-lqy6">23,00</td>
    <td class="tg-lqy6">26,00</td>
    <td class="tg-lqy6">9,00</td>
    <td class="tg-lqy6">77</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmcmNubURkMnlwb00">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmUXdGV2xJczdweEk">download</a></td>
  </tr>
  <tr>
    <td class="tg-yw4l">jc</td>
    <td class="tg-lqy6">6</td>
    <td class="tg-lqy6">15</td>
    <td class="tg-lqy6">34,00</td>
    <td class="tg-lqy6">23,00</td>
    <td class="tg-lqy6">9,00</td>
    <td class="tg-lqy6">4,50</td>
    <td class="tg-lqy6">224</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-lqy6">Sí</td>
    <td class="tg-lqy6">No</td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmYklKeUxIaTJRWFU">download</a></td>
    <td class="tg-yw4l"><a href="https://drive.google.com/open?id=0B1hivbRGFMgmTGZYeHBDM2lIcU0">download</a></td>
  </tr>
</table>
    </div>
        <h3 align="left">Results</h3>
        <p align="left">Consult the <a target="_blank" href="https://docs.google.com/forms/d/1CDQn8gZuw4sfecDiM5ikGX6zuitzPSbhXAlEvDt_ZaE/viewanalytics">results</a> of the evaluation (in Spanish).</p>
    </div>
    
    <div class="footer l-box is-center">
        <a color="white" href="http://www.miso.es/" target="_blank">MISO Group</a>. Universidad Aut&oacute;noma de Madrid. <script>document.write(new Date().getFullYear())</script>.
    </div>
</div>


</body>
</html>