<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>metabup</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>

<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="./index.html">meta<img width ="5%" src="img/logo200.png"/>Bup</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="./gallery.html" class="pure-menu-link">Gallery</a></li>
                <li class="pure-menu-item"><a href="./install.html" class="pure-menu-link">Install</a></li>
                <li class="pure-menu-item"><a href="./experiment.html" class="pure-menu-link">Experiment</a></li>
                <li class="pure-menu-item"><a href="./about.html" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

<div class="content">
	<p>&nbsp;</p>
	<div >
	<h1>Fault Tree Analysis (FTA)</h1>
		<p>Fault tree analysis (FTA) is a top down, deductive failure analysis in which an undesired state of a system is analyzed using Boolean logic to combine a series of lower-level events. </p>
		
		<h4>More info</h4>
			<ul>
				<li><a href="https://www.hq.nasa.gov/office/codeq/risk/docs/ftacourse.pdf" target="_blank">NASA documentation</a>
				<li><a href="https://en.wikipedia.org/wiki/Fault_tree_analysis">Wikipedia</a>
			</ul>
		
		
		<h4>Language construction by fragment</h4>
		
		<!-- FRAGMENT 1 -->
		
		<table  align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%; background-color:white;">
		  <tr>
			<th width="5%" align="left" style="padding-right: 20px">No.</th>
			<th width="35%" align="left">Drawing</th>
			<th width="20%" align="left">Fragment</th>
			<th width="35%" align="left">Metamodel</th>
		  </tr>
		  <tr>
			<td align="center">1.</td>
			<td><img width="70%" src="img/gallery/fta/fragment-1.png"/></td>
			<td><img width="90%" src="img/gallery/fta/text-fragment-1.png"/></td>
			<td><img width="30%" src="img/gallery/fta/metamodel-1.png"/>
				<p><b>OrGate.output</b> min multiplicity was upgraded to <b>1</b>.</p></td>
			</td>
		  </tr>
		  <tr>
			<td align="center">&nbsp;</td>
			<td><a href="./downloads/gallery/fta/fragment1.graphml" target = "_blank"><p align="right">fragment1.graphml<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td><a href="./downloads/gallery/fta/fragment1.mbupf" target = "_blank"><p align="right">fragment1.mbupf<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td>&nbsp;</td>
		  </tr>
		</table>
		
		<hr/>
		
		<!-- FRAGMENT 2 -->
		
		<table  align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%; background-color:white;">
		  <tr>
			<th width="5%" align="left" style="padding-right: 20px">No.</th>
			<th width="35%" align="left">Drawing</th>
			<th width="20%" align="left">Fragment</th>
			<th width="35%" align="left">Metamodel</th>
		  </tr>
		  <tr>
			<td align="center">2.</td>
			<td><img width="100%" src="img/gallery/fta/fragment-2.png"/></td>
			<td><img width="100%" src="img/gallery/fta/text-fragment-2.png"/></td>
			<td>
				<img width="70%" src="img/gallery/fta/metamodel-2.png"/>		
				<p><b>Event</b> and <b>Gate</b> classes names have been introduced automatically.</p></td>				
			</td>
		  </tr>
		  <tr>
			<td align="center">&nbsp;</td>
			<td><a href="./downloads/gallery/fta/fragment2.graphml" target = "_blank"><p align="right">fragment2.graphml<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td><a href="./downloads/gallery/fta/fragment2.mbupf" target = "_blank"><p align="right">fragment2.mbupf<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td>&nbsp;</td>
		  </tr>
		</table>
		
		<hr/>
		
		<h4>Generated editor</h4>
		
		<p align="center"><img src="img/gallery/fta/result-sirius.png"/>
		
		<hr/>
	
		<br/>
		
		<p> Download the complete example:
		<a href="./downloads/gallery/fta/fta.zip" target = "_blank"><img src="img/icons/download.png" style="vertical-align: middle; padding-right: 5px; padding-bottom: 5px;"/>fta.zip</a>
		</p>
    </div>

    <div class="footer l-box is-center">
        <a color="white" href="http://www.miso.es/" target="_blank">MISO Group</a>. Universidad Aut&oacute;noma de Madrid. <script>document.write(new Date().getFullYear())</script>.
    </div>

</div>






</body>
</html>
