<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>metabup</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="./index.html">meta<img width ="5%" src="img/logo200.png"/>Bup</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="./gallery.html" class="pure-menu-link">Gallery</a></li>
                <li class="pure-menu-item"><a href="./install.html" class="pure-menu-link">Install</a></li>
                <li class="pure-menu-item"><a href="./experiment.html" class="pure-menu-link">Experiment</a></li>
                <li class="pure-menu-item"><a href="./about.html" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

	<div class="content">
		<p>&nbsp;</p>
	   	<h2 align="center">Gallery</h2></p>
	   	&nbsp;
		<div style="min-height: 800px;">
			<p>We have a - promisingly growing - set of DSL examples developed with metaBup. See them above.</p>
		
			<div class="pure-g">
				<div class="pure-u-2-5">
					<div class="l-box"> <a href="./networkReference.html">
					<h4>Network Reference</h4>
					<img class="pure-img" src="img/gallery/network-reference/sirius.png"/></a> </div>
				</div>
				
				<div class="pure-u-1-5">
					<div class="l-box"> <a href="./fta.html">
					<h4>Fault Tree Analysis</h4>
					<img class="pure-img" src="img/gallery/fta/result-sirius.png"/></a> </div>
				</div>
				
				<div class="pure-u-1-5">
					<div class="l-box"> <a href="./useCase.html">
					<h4>Use Cases</h4>
					<img class="pure-img" src="img/gallery/use-case/sirius.png"/></a> </div>
				</div>

				<div class="pure-u-1-5">
					<div class="l-box"> <a href="./components.html">
					<h4>Components</h4>
					<img class="pure-img" src="img/gallery/components/sirius.png"/></a> </div>
				</div>
				
				<!--<div class="pure-u-1-2">
					<div class="l-box"> ... </div>
				</div> -->
			</div>
		</div>
	</div>
    <div class="footer l-box is-center">
        <a color="white" href="http://www.miso.es/" target="_blank">MISO Group</a>. Universidad Aut&oacute;noma de Madrid. <script>document.write(new Date().getFullYear())</script>.
    </div>
</div>
</body>
</html>