<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>metabup</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="./index.html">meta<img width ="5%" src="img/logo200.png"/>Bup</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="./gallery.html" class="pure-menu-link">Gallery</a></li>
                <li class="pure-menu-item"><a href="./install.html" class="pure-menu-link">Install</a></li>
                <li class="pure-menu-item"><a href="./experiment.html" class="pure-menu-link">Experiment</a></li>
                <li class="pure-menu-item"><a href="./about.html" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>
    
<div class="content">
<p>&nbsp;</p>
	<p align="center"><img width="20%"src="img/icons/rocket.png"/>
	<h2 align="center">We're almost there</h2></p>
	&nbsp;
	<div style="min-height: 800px;">
		<ol>
			<li>Copy the link of the <a  href="http://jesusjlopezf.bitbucket.io/downloads/software/update-site/">update site</a>.
			<li>Go to Eclipse Install New Software...
			<li>Paste the link and press enter.
			<li>Select metaBup and continue the installation.
		</ol>
	</div>
</div>

    <div class="footer l-box is-center">
        <a color="white" href="http://www.miso.es/" target="_blank">MISO Group</a>. Universidad Aut&oacute;noma de Madrid. <script>document.write(new Date().getFullYear())</script>.
    </div>

</div>






</body>
</html>
