<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>metabup</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
        <!--<![endif]-->
</head>









<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="./index.html">meta<img width ="5%" src="img/logo200.png"/>Bup</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="./gallery.html" class="pure-menu-link">Gallery</a></li>
                <li class="pure-menu-item"><a href="./install.html" class="pure-menu-link">Install</a></li>
                <li class="pure-menu-item"><a href="./experiment.html" class="pure-menu-link">Experiment</a></li>
                <li class="pure-menu-item"><a href="./about.html" class="pure-menu-link">About</a></li>
            </ul>
        </div>
    </div>

<div class="content">
	<p>&nbsp;</p>
	<div >
	<h1>UML Use Case Diagrams</h1>
		<p>Use cases are a means for specifying required usages of a system. Typically, they are used to capture the requirements of a system, that is, what a system is supposed to do. </p>
		
		<h4>More info</h4>
			<ul>
				<li><a href="http://www.omg.org/spec/UML/2.4.1/" target="_blank">UML 2.4.1 - OMG Specification</a>
			</ul>
		
		
		<h4>Language construction by fragment</h4>
		
		<!-- FRAGMENT 1 -->
		
		<table  align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%; background-color:white;">
		  <tr>
			<th width="5%" align="left" style="padding-right: 20px">No.</th>
			<th width="35%" align="left">Drawing</th>
			<th width="20%" align="left">Fragment</th>
			<th width="35%" align="left">Metamodel</th>
		  </tr>
		  <tr>
			<td align="center">1.</td>
			<td><img width="90%" src="img/gallery/use-case/fragment-1.png"/></td>
			<td><img width="100%" src="img/gallery/use-case/text-fragment-1.png"/></td>
			<td><img width="80%" src="img/gallery/use-case/metamodel-1.png"/>
</td>
		  </tr>
		  <tr>
			<td align="center">&nbsp;</td>
			<td><a href="./downloads/gallery/use-case/fragment-1.graphml" target = "_blank"><p align="right">fragment1.graphml<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td><a href="./downloads/gallery/use-case/fragment-1.mbupf" target = "_blank"><p align="right">fragment1.mbupf<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td>&nbsp;</td>
		  </tr>
		</table>
		
		<hr/>
		
		<!-- FRAGMENT 2 -->
		
		<table  align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%; background-color:white;">
		  <tr>
			<th width="5%" align="left" style="padding-right: 20px">No.</th>
			<th width="35%" align="left">Drawing</th>
			<th width="20%" align="left">Fragment</th>
			<th width="35%" align="left">Metamodel</th>
		  </tr>
		  <tr>
			<td align="center">2.</td>
			<td><img width="100%" src="img/gallery/use-case/fragment-2.png"/></td>
			<td><img width="100%" src="img/gallery/use-case/text-fragment-2.png"/></td>
			<td>
				<img width="70%" src="img/gallery/use-case/metamodel-2.png"/>		
			</td>
		  </tr>
		  <tr>
			<td align="center">&nbsp;</td>
			<td><a href="./downloads/gallery/use-case/fragment-2.graphml" target = "_blank"><p align="right">fragment2.graphml<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td><a href="./downloads/gallery/use-case/fragment-2.mbupf" target = "_blank"><p align="right">fragment2.mbupf<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td>&nbsp;</td>
		  </tr>
		</table>
		
		
		<!-- FRAGMENT 3 -->
		
		<table  align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%; background-color:white;">
		  <tr>
			<th width="5%" align="left" style="padding-right: 20px">No.</th>
			<th width="35%" align="left">Drawing</th>
			<th width="20%" align="left">Fragment</th>
			<th width="35%" align="left">Metamodel</th>
		  </tr>
		  <tr>
			<td align="center">2.</td>
			<td><img width="80%" src="img/gallery/use-case/fragment-3.png"/></td>
			<td><img width="100%" src="img/gallery/use-case/text-fragment-3.png"/></td>
			<td>
				<img width="100%" src="img/gallery/use-case/metamodel-3.png"/>		
			</td>
		  </tr>
		  <tr>
			<td align="center">&nbsp;</td>
			<td><a href="./downloads/gallery/use-case/fragment-3.graphml" target = "_blank"><p align="right">fragment3.graphml<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td><a href="./downloads/gallery/use-case/fragment-3.mbupf" target = "_blank"><p align="right">fragment3.mbupf<img src="img/icons/download.png" style="vertical-align: middle; padding-left: 5px; padding-bottom: 5px;"/></p></a></td>
			<td>&nbsp;</td>
		  </tr>
		</table>
		
		<hr/>
		
		<h4>Generated editor</h4>
		
		<p align="center"><img src="img/gallery/use-case/sirius.png"/></p>
		
		<hr/>
	
		<br/>
		
		<p> Download the complete example:
		<a href="./downloads/gallery/use-case/use-case.zip" target = "_blank"><img src="img/icons/download.png" style="vertical-align: middle; padding-right: 5px; padding-bottom: 5px;"/>useCase.zip</a>
		</p>
    </div>

    <div class="footer l-box is-center">
        <a color="white" href="http://www.miso.es/" target="_blank">MISO Group</a>. Universidad Aut&oacute;noma de Madrid. <script>document.write(new Date().getFullYear())</script>.
    </div>

</div>






</body>
</html>
